<!-- ejemplo.ejs-->
<!-- ctr + alt + l : formatear codigo-->
<!DOCTYPE html>
<html>
    <head>
        <!-- CONFIGURACIONES O METADATOS -->
        <!-- CSS -->
        <link rel="stylesheet" href="/css/estilos-generales.css">
    </head>
    <body>
        <!-- CONTENIDO HTML -->
        Hola <%= nombre %>
        <!-- SCRIPTS -->
        <script src="/js/logica-general.js"></script>
    </body>
</html>

